<% include ../patrials/header.ejs %>
<div class="row mt-1 mb-2">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-users-list" data-toggle="list" href="#list-users" role="tab" aria-controls="users">用户管理</a>
            <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list" href="#list-products" role="tab" aria-controls="products">商品管理</a>
        </div>
    </div>
    <div class="col-6">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-users" role="tabpanel" aria-labelledby="list-users-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">电话号码</th>
                            <th scope="col">注册时间</th>
                            <th scope="col">状态</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <%users.forEach(function (user) { %>
                    <%if(!user.isAdmin){%>
                    <tr class="m-1">
                        <td><%= user.username%></td>
                        <td><%= user.phoneNumber%></td>
                        <td><%= user.date.toLocaleString()%></td>
                        <%if(user.status){ %>
                        <td class="text-success">已审核</td>
                        <%}else{%>
                        <td class="text-danger">待审核</td>
                        <%}%>
                        <td class="d-inline-block">
                            <a href="/admin/<%= currentUser._id%>/user/<%=user._id%>" class="btn btn-sm btn-success">查看</a>
                        </td>
                        <td>
                            <a href="/users/<%=user._id%>" class="btn btn-sm btn-warning">编辑</a>
                        </td>
                        <td>
                            <form action="/users/<%= user._id%>/password?_method=PUT" method="POST"><button class="btn btn-sm btn-danger">重置密码</button></form>
                        </td>
                    </tr>
                    <%}%>
                    <%})%>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-products" role="tabpanel" aria-labelledby="list-products-list">
                <div class="col-lg-9 pt-4">
                    <div class="row">
                        <% products.forEach(function (product) { %>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="<%= product.image %>" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#"><%= product.name %></a>
                                    </h4>
                                    <h5><%= product.price %> 元</h5>
                                    <!--<p class="card-text"><%= product.description.substring(0, 100) %></p>-->
                                </div>
                                <div class="card-footer pl-2">
                                    <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                                    <a href="/products/<%= product._id %>" class="btn btn-primary d-inline">详情</a>
                                    <% if (currentUser && currentUser.isAdmin){ %>
                                    <a href="/products/<%= product._id %>/edit" class="btn btn-warning d-inline">编辑</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% if (currentUser && currentUser.isAdmin){ %>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <a href="/products/new" class="btn btn-primary">添加 <i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <!-- /.row -->

                </div>
            </div>
        </div>
    </div>
</div>
<% include ../patrials/footer.ejs %>
